body {
    background-color: #f3f5fa !important;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3d475f !important;
    border: 20px !important;
    padding: 20px !important;
    /*padding-bottom: 20px; */
}

.navbar-brand {
    font-size: 1.8rem !important;
    font-weight: bold !important;
    color: white !important;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link {
    font-size: 1.5rem !important;
    margin: 0 15px !important;
    font-weight: bold !important;
    color: rgba(255, 255, 255, 0.3) !important;
}

.nav-link:hover {
    color: #266ac2 !important;
}

.nav-link svg {
    margin-right: 10px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.nav-link.active {
    color: white !important;
}

.chart-div {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#chart-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
}

#chart-title{
    font-size: 30px;
    font-weight: bold;
}
#year-text{
    font-size: 24px;
    fill: #555;
    text-anchor: end;
}

#play-button-rect{
    margin: 10px;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 123, 255, 0.8);
}
#chart-svg{
    justify-content: center; 
    align-items: center;   
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }
#continent-selector{
    position:absolute;
    top:160px;
    left:300px;
    font-size: 14px;
    padding: 5px;
}
.value-label{
    text-anchor: start;
    fill:#555;
}